<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="style_comp.css">
    <link rel="stylesheet" href="../styles.css">
<title>error</title>
</head>
<body>
<header class="header"><div class = "conteiner"> 
  <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item title"><a href="#main" class="nav-link"><h1>Twitter</h1></a></li>
      </ul>
    </nav>
</div></header>
<main class="main" id = "main"><div class = "conteiner main-conteiner">
   <div class="contain error">
            <h1>Erorr</h1>
          <hr>
   <p>Error message: you are 
    not authorized </p>
   
  </div>

    </div>
  </main>
  <footer class="footer"><div class = "conteiner">
    <nav class="nav">
        <ul class="nav-list footer">
          <li class="nav-item"><h3>Twitter</h3></li>
          <li class="nav-item"><h4>Stepan Bryl</h4></li>
          <li class="nav-item"><h4>bryl.step@tut.by</h4></li>
          <li class="nav-item"><h>Version 1.0<br>30.12.2021</h></li>
        </ul>
      </nav>
</div></footer>
<script type="module" src="index.js"></script>
</body>
</html>