<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="style_comp.css">
    <link rel="stylesheet" href="../styles.css">
<title>register</title>
</head>
<body>
<header class="header"><div class = "conteiner"> 
  <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item title"><a href="#main" class="nav-link"><h1>Twitter</h1></a></li>
      </ul>
    </nav>
</div></header>
<main class="main" id = "main"><div class = "conteiner main-conteiner">
    <div id="register">
    <form action="">
        <div class="contain">
          <h1>Register</h1>
          
          <hr>
      
          <label for="Uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="name" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
          <button type="submit" class="registerbtn">Register</button>
        <span class="psw"> <a href="register.html">Sing in</a></span>
        </div>
      </form>
    </div>
  </main>
  <footer class="footer"><div class = "conteiner">
    <nav class="nav">
        <ul class="nav-list footer">
          <li class="nav-item"><h3>Twitter</h3></li>
          <li class="nav-item"><h4>Stepan Bryl</h4></li>
          <li class="nav-item"><h4>bryl.step@tut.by</h4></li>
          <li class="nav-item"><h>Version 1.0<br>30.12.2021</h></li>
        </ul>
      </nav>
</div></footer>
<script type="module" src="index.js"></script>
</body>
</html>