<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="style_comp.css">
    <link rel="stylesheet" href="../styles.css">
<title>sing in</title>
</head>
<body>
<header class="header"><div class = "conteiner"> 
  <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item title"><a href="#main" class="nav-link"><h1>Twitter</h1></a></li>
      </ul>
    </nav>
</div></header>
<main class="main" id = "main"><div class = "conteiner main-conteiner">
   

    <form action="action_page.php">
        <div class="contain">
            <h1>Sing in</h1>
          
            <hr>
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="registerbtn">LogIn</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
   
  </div>
</form>
    </div>
  </main>
  <footer class="footer"><div class = "conteiner">
    <nav class="nav">
        <ul class="nav-list footer">
          <li class="nav-item"><h3>Twitter</h3></li>
          <li class="nav-item"><h4>Stepan Bryl</h4></li>
          <li class="nav-item"><h4>bryl.step@tut.by</h4></li>
          <li class="nav-item"><h>Version 1.0<br>30.12.2021</h></li>
        </ul>
      </nav>
</div></footer>
<script type="module" src="index.js"></script>
</body>
</html>