
:root {
  --color-blue: #53D4FD;
  --color-white: #fff;
  --color-orange:#FFA500;
  --font1: 60px;
  --font2: 40px;
}
@font-face {
    font-family: Roboto;
     src: url("fonts/Roboto.ttf");
     font-weight: 300;
   }
   @font-face {
    font-family: Frijole;
     src: url("fonts/Frijole-Regular.ttf");
   }
   
html, body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;  
    margin: 0; 
    padding: 0;
    height: 57rem;
    width: 100%;
    border: 3px solid #53D4FD;
  }
  .container {
    max-width: 95rem;
    margin: 0 auto;
  }
  .header{
      max-width: 100%;
      height: 6rem;
      background: var(--color-blue);
      border-radius: 0 0px 2rem 2rem;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content:space-between;
   position: relative;
  }
  .nav-link h1{
    font-family: "Frijole";
    font-weight: 700;
  }
  .nav-link { 
    transition: .3s;
    color:var(--color-white);
    text-decoration: none;  
    transition: color 0.5s;
  }
  .btn-sing-out{
    position: absolute;
    left: 85%;
    border-radius: 5px 5px;
    border: none;
    width: 9rem;
    height: 2rem;
    background-color: var(--color-white);
    color: var(--color-blue);
  }
  .user-name{
    position: absolute;
    left: 70%;
  }
  INPUT.input {
    border: 2px solid var(--color-blue); 
    margin: 1rem;
    width: 12rem;
    height: 2rem;
    border-radius: 10px 10px;
   }

  .btn{
    width: 6rem;
    height: 2rem;
    background-color: var(--color-blue);
    border: none;
    border-radius: 5px 5px;
    color: var(--color-white);
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--color-blue);
    transition: background-color 0s ease-in-out 9000s;
  }
  /*input:default { background-color: rgb(151, 150, 150);}*/

 .date{
    max-width: 9rem;
  }

  .nav-link:hover {
    color: #5d7260;
  }

 .main{
   border-radius: 2rem 2rem;
     max-width: 100%;
     height: 45rem;
    
 }
.header-tweet{
  position: relative;
  width: 57rem;
  height: 2rem;
  background-color: rgb(151, 150, 150);
  border-radius: 10px 10px;
}
textarea{
  border: none;
}
.delete-btn{
  position: absolute;
  left: 80%;
  top: 5%;
}
.tweet-btn{
  position: absolute;
  left: 80%;
  top: 9%;
}
.edit-btn{
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  border-radius: 5px 5px;
}
.menu-btn{
  position:absolute;
  top:20%;
  left:25%;
}
.find-btn{
  position:absolute;
  left: 55%;
  top:80%;
}
.add-btn{
  position: absolute;
  left: 135%;
  top:45%;
}
.footer-tweet{
  position: relative;
  max-width: 58rem;
  height: 2rem;
  background-color: rgb(151, 150, 150); 
  border-radius: 10px 10px;
}

 select{
   width: 12rem;
   height: 2rem;
   margin: 1rem;
   border: 2px solid var(--color-blue);
   border-radius: 10xp 10px;
 }
 a{
  text-decoration: none;
  color: var(--color-blue);
 }
 .menu{
   max-width: 20rem;
   position: relative;
 }
 
 .container_tweet{
   max-width: 58rem;
   min-width: 25rem;
   border: 2px solid var(--color-blue);
   border-radius: 10px 10px;
 }
 .comments-message{
   position:absolute;
   color: var(--color-white);
   display: flex;
   flex-direction: row;
   left: 10%;
   top: 20%;
 }
 label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
  color: var(--color-blue);
  margin: 1rem;
  font-size: 14px;
}
 .footer{
     max-width: 100%;
     height: 5rem;
     background-color: var(--color-blue);
     color: var(--color-white);
 }
.main-conteiner{
    display: flex;
    flex-direction: wrap;
}
  * {
      box-sizing: border-box;
    }
    @media (max-width: 400px) {
        .section {
          width: 100%;
        }
      }
.section {
        width: 100%;
    
      }
.list{
    border: 2px solid  var(--color-blue);
    max-width: 64rem;
    background-color: var(--color-white);
    height: 45rem;
    border-radius: 10px 10px;
    
}
.my-article{
  position: relative;
  max-height: 37rem;
  overflow: auto;
  white-space: nowrap;
}
.my-comment{
  position: relative;
  min-width: 25rem;
  height: 37rem;
  border: 2px solid var(--color-blue);
  border-radius: 10px 10px;
  overflow-y: scroll;
  color: var(--color-blue);
  padding: 1rem;
}
.comment-add{
  position: absolute;
  top: 85%;
  max-width: 35rem;
  min-width: 25rem;
  height: 5.5rem;
  border: 2px solid var(--color-blue);
  border-radius: 10px 10px;
}
.btn:hover{
  background-color: var(--color-orange);
}
.next-message{
  position: absolute;
  margin: 10px auto;
  width: 12rem;
  height: 3rem;
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  border-radius: 7px 7px;
  left: 35%;
}
.filter{
  position: relative;
  overflow-y: scroll;
    min-width: 20rem;
    background-color: var(--color-white);
    max-height: 44rem;
  
}
.avator {
  border-radius:9rem;
  width:3rem;
  margin-right: 1rem;
}
.tweet-wrap {
  max-width:30rem;
  background: var(--color-white);
  margin: 0 auto;
  margin-top: 10px;
  border-radius:3px;
  border-bottom: 1px solid #e6ecf0;

}

.tweet-header {
  display: flex;
  align-items:flex-start;
  font-size:14px;
}
.tweet-header-info {
  font-weight:bold;
}
.tweet-header-info span {
  color:#657786;
  font-weight:normal;
  margin-left: 5px;
}
.tweet-header-info p {
  font-weight:normal;
  margin-top: 5px;
  
}
.tweet-img-wrap {
  padding-left: 4rem;
}

.tweet-info-counts {
  display: flex;
  margin-left: 4rem;
  margin-top: 10px;
  justify-content: space-between;
}
.tweet-info-counts div {
  display: flex;
  margin-right: 1rem;
  
}
.tweet-info-counts div svg {
  color: var(--color-blue);
  margin-right: 10px;
}
.message{
  background-color: var(--color-white);
  border:none;
  color: var(--color-white);
}
.feather-send {
background-color: var(--color-blue);
left: 70%;
border-radius: 50%;
}
@media screen and (max-width:400px){
  body {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .tweet-header {
    flex-direction:column;
  }
  .tweet-header-info p {
    margin-bottom: 2rem;
  }
  .tweet-info-counts {
  display: flex;
  margin-left: 0;
}
.tweet-info-counts div {
  margin-right: 10px;
}
}
